body{
    margin : 0;
}

main{
    margin-top: 7rem;
    text-align: center;
}
h1{
    color: black;
	font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
p{
    color: black;
	font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}