<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Table</title>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>
        

        <table border="1" class="dataframe">
            <thead>
              <tr style="text-align: right;">
                <th></th>
                <th>The news has been saved</th>
              </tr>
            </thead>
            <nav>
              <ol>
                  <li><a href="http://127.0.0.1:5000/news">Access top15 news here</a></li>
                  <li><a href="http://127.0.0.1:5000/topnews">Access top5 news here</a></li>
              </ol>
            </nav>
          </table>
    </div>
  </body>
</html>